<section class="footer">
    <div class="container">
        <div class="gauche">
            <div class="iconText">
                <img src="../assets/images/outlined.svg" alt="">
                <h3 class="text">Blueprint</h3>
            </div>
            <span>|</span>
            <div class="social">
                <img src="../assets/images/icons8-dribbble (1).svg" alt="">
                <img src="../assets/images/icons8-stack-of-tweets.svg" alt="">
                <img src="../assets/images/icons8-instagram.svg" alt="">
            </div>
        </div>
        <div class="droite">
            <h4>contact@Blueprint.com</h4>
        </div>
    </div>
</section>