<section style="height: 100%;width:100%;" (click)="onViewPage(projet.titre)">
    <div class="block" [ngStyle]="{'background-image': 'url(' + projet.imageMiniature + ')'}">
        <div class="haut">
            <div class="categList">
                <mat-chip-list aria-label="Fish selection" style="height: auto;">
                    <mat-chip *ngFor="let category of projet.categories">{{category}}</mat-chip>
                </mat-chip-list>
            </div>
        </div>
        <div class="bas">
            <div class="gauche">
                <h1 class="tabletitle" >{{projet.titre}}</h1>
                <p>{{projet.sousTitre}}</p>
            </div>
            <div class="droit">
                <span>&rarr;</span>
            </div>
        </div>
    </div>
</section>