<div class="wrapper">
        <section class="parallax">
                <app-parallax-template class="template"></app-parallax-template>
        </section>
        
        <section class="titre" style="padding-top: 0px;">
                <div appParallax [ratio]="-0.5" class="menu">
                        <p><strong style="color: blue;">O1.</strong> Introduction</p>
                </div>
                <div class="container" data-aos="fade-up" data-aos-duration="1500">
                        <div class="titleLeft">
                                <h1 class="title">Nous créons <br>des exprériences</h1>
                                <div class="texChange">
                                        <h1 [@fadeUp] class="title titleMove" *ngIf="textChange == 'digitales'">
                                                digitales
                                        </h1>
                                        <h1 [@fadeUp] class="title titleMove" *ngIf="textChange == 'humaines'"> humaines
                                        </h1>
                                        <h1 [@fadeUp] class="title titleMove" *ngIf="textChange == 'bluePrint'">
                                                blueprint
                                        </h1>
                                </div>
                                <div class="bt" routerLink="/projets">
                                        <div class="btcontenu">
                                                <p>Nos réalisations
                                                </p>
                                                <span>&rarr;</span>
                                        </div>
                                        <div class="progress">
                                                <div class="bar"></div>
                                        </div>
                                </div>
                        </div>
                        <div class="titleRight">
                                <ng-lottie [options]="options" (animationCreated)="animationCreated($event)">
                                </ng-lottie>
                        </div>
                </div>
        </section>
        <section class="contenu">
                <section class="domaines">
                        <div appParallax [ratio]="-0.4" class="menu" style="margin-top: 0px">
                                <p><strong style="color: blue;">O2.</strong> nos services</p>
                        </div>
                        <div class="container">
                                <app-carousel-home data-aos="fade-up" data-aos-duration="1500" style="width: 100%;">
                                </app-carousel-home>
                        </div>
                </section>
                <section class="services">
                        <div appParallax [ratio]="-0.25" class="menu" style="margin-top: 0px;">
                                <p><strong style="color: blue;">O3.</strong> nos services</p>
                        </div>
                        <div class="container" style="z-index: 2;">
                                <div class="tableau" data-aos="fade-up" data-aos-duration="1500" id="servizer"
                                        data-aos-id="super-duper">
                                        <div class="gauche" routerLink="/projets">
                                                <div class="posTabHaut">
                                                        <div class="postHautText">
                                                                <p>explorer</p>
                                                                <span
                                                                        style="color: white;font: 800; margin-left: 20px;">&rarr;</span>
                                                        </div>
                                                </div>
                                                <div class="posTabbas">
                                                        <div class="basPost">
                                                                <h1 class="title">réalisations</h1>
                                                                <div class="patterns">
                                                                        <svg width="100%" height="100%">
                                                                                <defs>
                                                                                        <pattern id="polka-dots" x="0"
                                                                                                y="0" width="10"
                                                                                                height="10"
                                                                                                patternUnits="userSpaceOnUse">
                                                                                                <circle fill="#bee9e8"
                                                                                                        cx="5" cy="5"
                                                                                                        r="1" />
                                                                                        </pattern>
                                                                                </defs>
                                                                                <rect x="0" y="0" width="100%"
                                                                                        height="100%"
                                                                                        fill="url(#polka-dots)" />
                                                                        </svg>
                                                                </div>
                                                        </div>
                                                        <p class="sousTitre">Un texte</p>
                                                </div>
                                        </div>
                                        <div class="droite">
                                                <div class="haut" routerLink="/services">
                                                        <div class="posTabHaut">
                                                                <div class="postHautText">
                                                                        <p>explorer</p>
                                                                        <span
                                                                                style="color: white;font: 800;margin-left: 20px;">&rarr;</span>
                                                                </div>
                                                        </div>
                                                        <div class="posTabbas">
                                                                <!-- <h1 class="title"> solutions</h1> -->
                                                                <div class="basPost">
                                                                        <h1 class="title">solutions</h1>
                                                                        <div class="patterns">
                                                                                <svg width="100%" height="100%">
                                                                                        <defs>
                                                                                                <pattern id="polka-dots"
                                                                                                        x="0" y="0"
                                                                                                        width="10"
                                                                                                        height="10"
                                                                                                        patternUnits="userSpaceOnUse">
                                                                                                        <circle fill="#bee9e8"
                                                                                                                cx="5"
                                                                                                                cy="5"
                                                                                                                r="1" />
                                                                                                </pattern>
                                                                                        </defs>
                                                                                        <rect x="0" y="0" width="100%"
                                                                                                height="100%"
                                                                                                fill="url(#polka-dots)" />
                                                                                </svg>
                                                                        </div>
                                                                </div>
                                                                <p class="sousTitre">Un texte</p>
                                                        </div>

                                                </div>
                                                <div class="bas" routerLink="/workflow">
                                                        <div class="posTabHaut">
                                                                <div class="postHautText">
                                                                        <p>explorer</p>
                                                                        <span
                                                                                style="color: white;font: 800;margin-left: 20px;">&rarr;</span>
                                                                </div>
                                                        </div>
                                                        <div class="posTabbas">
                                                                <!-- <h1 class="title">workflow</h1> -->
                                                                <div class="basPost">
                                                                        <h1 class="title">worflow</h1>
                                                                        <div class="patterns">
                                                                                <svg width="100%" height="100%">
                                                                                        <defs>
                                                                                                <pattern id="polka-dots"
                                                                                                        x="0" y="0"
                                                                                                        width="10"
                                                                                                        height="10"
                                                                                                        patternUnits="userSpaceOnUse">
                                                                                                        <circle fill="#bee9e8"
                                                                                                                cx="5"
                                                                                                                cy="5"
                                                                                                                r="1" />
                                                                                                </pattern>
                                                                                        </defs>
                                                                                        <rect x="0" y="0" width="100%"
                                                                                                height="100%"
                                                                                                fill="url(#polka-dots)" />
                                                                                </svg>
                                                                        </div>
                                                                </div>
                                                                <p class="sousTitre">Un texte</p>
                                                        </div>

                                                </div>
                                        </div>
                                </div>
                        </div>
                </section>
                <section class="articles">
                        <div appParallax [ratio]="-0.15" class="menu" style="margin-top: 0px;">
                                <p><strong style="color: blue;margin-left: 7px;">O4.</strong> ressources</p>
                        </div>
                        <div class="container" data-aos="fade-up" data-aos-duration="1500">
                                <app-articleslider></app-articleslider>
                        </div>
                </section>
                <section class="formulaire">
                        <div appParallax [ratio]="-0.1" class="menu" style="margin-top: 0px;">
                                <p><strong style="color: blue;margin-left: -18px;">O5.</strong> nous contacter</p>
                        </div>
                        <section>
                                <app-portfolio-form></app-portfolio-form>
                        </section>
                </section>
        </section>
</div>