section{
  margin-bottom: 100px;
  position: relative;
}

section.stats{
  display: flex;
  justify-content: center;
}
.container{
  display: flex;
  justify-content: center;
}

.text-content{
position: absolute;}

.contentText{
  flex: 1;
  align-self: center;
  color: white;
  position: relative;

}

.media{
  flex: 2;
  padding: 43px;
}

#text{
    justify-content: center;
}

.image{
  display: flex;
  margin-top: 30px;
  justify-content: center;
}


.contenuText{
  display: flex;
  margin-top: 30px;
  flex-direction: column;
}


body *{
  font-family: 'Avenir';
}


