section{
  margin-bottom: 100px;
}

.container{
  display: flex;
  justify-content: center;
}

.text-content{
  flex: 1;
  align-self: center;
  color: white;
}


.media{
  flex: 2;
  padding: 43px;
}

#text{
    justify-content: center;
}

.image{
  display: flex;
  margin-top: 30px;
}

.imagePos{
 min-width: 300px;
}

.contenuText{
  display: flex;
  margin-top: 30px;
  flex-direction: column;
}


body *{
  font-family: 'Avenir';
}

.statDesc{
  z-index: 6!important;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

section.texUnique .container{
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
}