<section *ngIf="row.contenu == 1" [ngStyle]="{'backgroundColor': row.couleurRow}">
    <app-row-media-text [rows]="row"></app-row-media-text>
</section>
<section *ngIf="row.contenu == 3" class="image" [ngStyle]="{'backgroundColor': row.couleurRow}">
    <app-media-only [rows]="row"></app-media-only>
</section>
<section class="texUnique" *ngIf="row.contenu == 4"
    [ngStyle]="{'backgroundColor': row.couleurRow}">
    <app-texts-only [rows]="row"></app-texts-only>
</section>
<section class="stats" *ngIf="row.contenu == 2" [ngStyle]="{'backgroundColor': row.couleurRow}">
    <app-stats-row [rows]="row"></app-stats-row>
</section>