<div class="torsion" [ngStyle]="{'backgroundColor': row.couleurRow}"></div>
<div class="wrapper" *ngIf="row.contenu == 1" [ngStyle]="{'backgroundColor': row.couleurRow}">
    <div class="text-content" [ngStyle]="{'order': textPos(row.position)}">
        <h1>{{row.textTitre1}}</h1>
        <h1>{{row.textTitre2}}</h1>
        <h3>{{row.textTitre3}}</h3>
        <div id="text" [innerHTML]="row.editor">
        </div>
    </div>
    <div class="media" [ngStyle]="{'order': mediaPos(row.position)}">
        <img [src]="row.imageUrl" style="width: 100%;">
    </div>
</div>
<div *ngIf="row.contenu == 3" class="image" [ngStyle]="{'backgroundColor': row.couleurRow}">
    <div class="imagePos">
        <img [src]="row.imageUrl" style="width: 100%;">
    </div>
</div>
<div *ngIf="row.contenu == 4" class="contenuText"
    [ngStyle]="{'align-items': positionText(row.position), 'backgroundColor': row.couleurRow}">
    <h1>{{row.textTitre1}}</h1>
    <h2>{{row.textTitre2}}</h2>
    <h3>{{row.textTitre3}}</h3>
    <p id="text" [innerHTML]="row.editor">
    </p>
</div>
<div *ngIf="row.contenu == 2" class="stats" [ngStyle]="{'backgroundColor': row.couleurRow}">
    <div *ngFor="let stat of row.stats" class="statDesc">
        <h1>{{stat.stat}}</h1>
        <h2>{{stat.description}}</h2>
    </div>
</div>
<div class="torsionDown" [ngStyle]="{'backgroundColor': row.couleurRow}"></div>