*{
    padding:0;
    box-sizing: border-box;
    outline: none;
}

.titleHeader{
    height: 100vh;
    display: flex;
    // flex-direction: column;
    // justify-content: center;
    color: white;
    flex-wrap: wrap;
}

.rightTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.leftTitle{
    flex:1;
}

section.parallax{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 1;
}
.template{
    width: 100%;
}

.menu{
    position: absolute;
    margin-top: 250px;
    text-align: center;
    transform: rotate(270deg);
    margin-left: -84px;
    display: flex;
    justify-content: space-between;
    color: white;
    z-index: 4;
    outline:none;
}

.menu .enCours{
    color: blue;
    margin-left: 20px;
}

.menu .prec{
    margin-left: 20px;
}
.menu .texPrec{
    outline: none;
    cursor: pointer;
}



.titlecontent{
    color: white;
    // width: 40%;
    display: flex;
    flex-direction: column;

}

.titleBoutton{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.boutton{

    padding: 10px 10px 10px 10px;
    color: white;
    border-radius: 10px;
}

.progress-container {
    position: absolute;
    width: 3px;
    height: 90%;
    background: #ccc;
    z-index: 1;
   align-self: center;
   overflow: hidden;
  }
  
  .progress-bar {
    height: 0%;
    background: #180db1;
    width: 3px;
    position: relative;
    z-index: 3;
  }


.ligne{
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.ligne2{
    margin-top: 100px;
    height: 30px;
    width: 4px;
    background: blue;
    position: absolute;
    margin-left: -3.5px;
}


.container {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 3;
}

#content{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    width: 100%;
    align-self: center;
}

.gauche, .droite{
    flex: 1;
    padding: 30px;
    position: relative;
    text-align: center;
}

.numDroit{
    position: absolute;
    top:0;
    left: 30px;
    color: #EFF1F7;

}

.numGauche{
    position: absolute;
    top:0;
    right: 30px;
    color: #EFF1F7;
}

.cercleDroit{
    position: absolute;
    top: 0;
    left: 0;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid blue;
    z-index: 3;
    margin-left: -7px;
    background: #0E0E34;
}

.cercleGauche{
    position: absolute;
    top: 0;
    right: 0;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid blue;
    z-index: 3;
    margin-right: -7px;
    background: #0E0E34;
}



.titre{
    color: white;
}

.sousTitre{
    color:#bebfc2;
}

.bt{
    cursor: pointer;
    width: 300px;
}

.progress{
    height: 2px;
    width: 100%;
    background: #ccc;
}

.progress .bar{
    height: 2px;
    width: 10%;
    background: #3B6EF8 ;
}

.bt:hover{
    .progress .bar{
        transition: 0.2s ease;
        width: 100%;
    }
}

.fond2 .row{
    height: 2904px;
    margin: 0;
}

.fond2{
    z-index: -1;
    background: #0E0E34;
    width: 100%;
    position: absolute;
}

.fondBorder2{
    border-right: 1px solid rgba(243, 238, 238, 0.24);
    padding: 0px;
}




@media screen and (max-width: 400px) {

    #content{
        width: 100%;
    }
    .ligne p, .ligne h1{
        font-size: 0.8em;
    }

    .fin{
        position: relative;
        z-index: 2;
        background: #0E0E34;
    }
    .titleBoutton{
        flex-direction: column;
    }
}

@media screen and (max-width: 560px) {

    .progress-container {
        height: 89%;
    }

    .titleHeader{
        margin: 30px;
        flex-direction: column;
    }

    .titleBoutton{
        width: 100%;
    }

    .rightTitle{
        order: 2;
        text-align: center;
    }

    .ligne p, .ligne h1{
        font-size: 0.8em;
    }


}