<section style="position: relative; overflow: hidden; background: #0E0E34;z-index: 0;">
    <section class="parallax">
        <app-parallax-template class="template"></app-parallax-template>
    </section>
    <div appParallax [ratio]="-1" class="menu">
        <p routerLink="/home" class="texPrec">home<span class="prec">></span></p>
        <p><strong class="enCours">O2.</strong> workflow</p>
    </div>

    <div class="container">
        <div class="titleHeader">
            <div class="rightTitle">
                <div class="titlecontent">
                    <h1 class="title animate__animated animate__fadeInDown">digital workflow</h1>
                </div>
                <div class="titleBoutton">
                    <p class="animate__animated animate__fadeIn animate__delay-1s">Lorem Ipsum is simply dummy text of
                        the printing and typesetting
                        industry.
                        Lorem Ipsum has been the
                        industry’s standard dummy.
                    </p>
                </div>
            </div>
            <div class="leftTitle">
                <ng-lottie [options]="options" (animationCreated)="animationCreated($event)">
                </ng-lottie>
            </div>
        </div>
        <div id="content">
            <div class="progress-container">
                <div class="progress-bar" id="myBar"></div>
            </div>

            <div class="ligne">
                <div class="gauche"></div>
                <div class="droite">
                    <p class="numDroit">01</p>
                    <div class="cercleDroit"></div>
                    <h1 class="titre sousTitle"> Cadrage initial</h1>
                    <p class="sousTitre">Reponse au grief client Definitions des enjeux business, metiers technique</p>
                </div>
            </div>
            <div class="ligne">
                <div class="gauche">
                    <p class="numGauche">02</p>
                    <div class="cercleGauche"></div>
                    <h1 class="titre sousTitle">Conception</h1>
                    <p class="sousTitre">Audit des contenus existants Identifications des nouveaux contenus Choix des
                        supports
                        technologiques</p>
                </div>
                <div class="droite"></div>
            </div>
            <div class="ligne">
                <div class="gauche"></div>
                <div class="droite">
                    <p class="numDroit">03</p>
                    <div class="cercleDroit"></div>
                    <h1 class="titre sousTitle">ui/ux</h1>
                    <p class="sousTitre">Elaboration du parcours client Ergonomie</p>
                </div>
            </div>
            <div class="ligne">
                <div class="gauche">
                    <p class="numGauche">04</p>
                    <div class="cercleGauche"></div>
                    <h1 class="titre sousTitle">Maquettes</h1>
                    <p class="sousTitre">Conception et validation de toutes les vues</p>
                </div>
                <div class="droite"></div>
            </div>
            <div class="ligne">
                <div class="gauche"> </div>
                <div class="droite" id="production">
                    <p class="numDroit">05</p>
                    <div class="cercleDroit"></div>
                    <h1 class="titre sousTitle">Productions</h1>
                    <p class="sousTitre">Integration et Developpement</p>
                </div>
            </div>
            <div class="ligne">
                <div class="gauche">
                    <p class="numGauche">06</p>
                    <div class="cercleGauche"></div>
                    <h1 class="titre sousTitle">Phase de tests</h1>
                    <p class="sousTitre">Tests parcours client</p>
                </div>
                <div class="droite"> </div>
            </div>
            <div class="ligne">
                <div class="gauche"> </div>
                <div class="droite">
                    <p class="numDroit">07</p>
                    <div class="cercleDroit"></div>
                    <h1 class="titre sousTitle">Mise en ligne</h1>
                    <p class="sousTitre">Mise en ligne</p>
                </div>
            </div>
            <div class="ligne">
                <div class="gauche" id="maintenance">
                    <p class="numGauche">08</p>
                    <div class="cercleGauche"></div>
                    <h1 class="titre sousTitle">Maintenance & SEO</h1>
                    <p class="sousTitre">Maintenance Correction des bugs Optimisation des contenus, SEO</p>
                </div>
                <div class="droite"> </div>
            </div>
            <div class="ligne fin">
                <div class="gauche"> </div>
                <div class="droite">
                    <p class="numDroit">09</p>
                    <div class="cercleDroit"></div>
                    <h1 class="titre sousTitle">Evolution</h1>
                    <p class="sousTitre">Propositions de nouvelles fonctionnalites Passage en V2</p>
                </div>
            </div>
        </div>
        <div style="height: 150px;"></div>
    </div>
</section>