<section style="position: relative; overflow: hidden; background: #000000;z-index: 0;">
    <!-- <section class="parallax">
        <app-parallax-template class="template"></app-parallax-template>
    </section> -->
    <div appParallax [ratio]="-1" class="menu">
        <p routerLink="/home" class="texPrec">home<span class="prec">></span></p>
        <p><strong class="enCours">O2.</strong> workflow</p>
    </div>

    <div class="container">
        <div class="titleHeader">
            <div class="leftTitle">
                <ng-lottie [options]="options" (animationCreated)="animationCreated($event)">
                </ng-lottie>
            </div>
            <div class="rightTitle">
                <div class="titlecontent">
                    <h1 class="title animate__animated animate__fadeInDown">digital workflow</h1>
                </div>
                <div class="titleBoutton">
                    <p class="animate__animated animate__fadeIn animate__delay-1s">Lorem Ipsum is simply dummy text of
                        the printing and typesetting
                        industry.
                        Lorem Ipsum has been the
                        industry’s standard dummy.
                    </p>
                </div>
            </div>
            <div class="bottomTitle">
                <p>explore the flow</p>
                <span style="color: white;font: 800;margin-left: 20px;" data-aos="fade-up"
                    data-aos-duration="1500">&darr;</span>
            </div>
        </div>
        <div id="content">
            <div class="progress-container">
                <div class="progress-bar" id="myBar"></div>
            </div>

            <div class="ligne">
                <div class="gauche"></div>
                <div class="droite">
                    <div class="point">
                        <svg width="100%" height="100%">
                            <defs>
                                <pattern id="polka-dots" x="0" y="0" width="10" height="10"
                                    patternUnits="userSpaceOnUse">
                                    <circle fill="#bee9e8" cx="5" cy="5" r="1" />
                                </pattern>
                            </defs>
                            <rect x="0" y="0" width="100%" height="100%" fill="url(#polka-dots)" />
                        </svg>
                    </div>
                    <p class="numDroit">01</p>
                    <div class="cercleDroit"></div>
                    <h1 class="titre sousTitle"> Cadrage initial</h1>
                    <p class="sousTitre">Conception et validation de toutes les vues</p>
                    <p class="livrables"><span></span>Livrables</p>
                    <p class="cadrage">Note de cadrage</p>
                </div>
            </div>
            <div class="ligne">
                <div class="gauche">
                    <div class="point">
                        <svg width="100%" height="100%">
                            <defs>
                                <pattern id="polka-dots" x="0" y="0" width="10" height="10"
                                    patternUnits="userSpaceOnUse">
                                    <circle fill="#bee9e8" cx="5" cy="5" r="1" />
                                </pattern>
                            </defs>
                            <rect x="0" y="0" width="100%" height="100%" fill="url(#polka-dots)" />
                        </svg>
                    </div>
                    <p class="numGauche">02</p>
                    <div class="cercleGauche"></div>
                    <h1 class="titre sousTitle">Conception</h1>
                    <p class="sousTitre">Audit des contenus existants Identifications des nouveaux contenus Choix des
                        supports
                        technologiques</p>
                    <p class="livrables"><span></span>Livrables</p>
                    <p class="cadrage">Note de cadrage</p>
                </div>
                <div class="droite"></div>
            </div>
            <div class="ligne">
                <div class="gauche"></div>
                <div class="droite">
                    <div class="point">
                        <svg width="100%" height="100%">
                            <defs>
                                <pattern id="polka-dots" x="0" y="0" width="10" height="10"
                                    patternUnits="userSpaceOnUse">
                                    <circle fill="#bee9e8" cx="5" cy="5" r="1" />
                                </pattern>
                            </defs>
                            <rect x="0" y="0" width="100%" height="100%" fill="url(#polka-dots)" />
                        </svg>
                    </div>
                    <p class="numDroit">03</p>
                    <div class="cercleDroit"></div>
                    <h1 class="titre sousTitle">ui/ux</h1>
                    <p class="sousTitre">Elaboration du parcours client Ergonomie</p>
                    <p class="livrables"><span></span>Livrables</p>
                    <p class="cadrage">Note de cadrage</p>
                </div>
            </div>
            <div class="ligne">
                <div class="gauche">
                    <div class="point">
                        <svg width="100%" height="100%">
                            <defs>
                                <pattern id="polka-dots" x="0" y="0" width="10" height="10"
                                    patternUnits="userSpaceOnUse">
                                    <circle fill="#bee9e8" cx="5" cy="5" r="1" />
                                </pattern>
                            </defs>
                            <rect x="0" y="0" width="100%" height="100%" fill="url(#polka-dots)" />
                        </svg>
                    </div>
                    <p class="numGauche">04</p>
                    <div class="cercleGauche"></div>
                    <h1 class="titre sousTitle">Maquettes</h1>
                    <p class="sousTitre">Conception et validation de toutes les vues</p>
                    <p class="livrables"><span></span>Livrables</p>
                    <p class="cadrage">Note de cadrage</p>
                </div>
                <div class="droite"></div>
            </div>
            <div class="ligne">
                <div class="gauche"> </div>
                <div class="droite" id="production">
                    <div class="point">
                        <svg width="100%" height="100%">
                            <defs>
                                <pattern id="polka-dots" x="0" y="0" width="10" height="10"
                                    patternUnits="userSpaceOnUse">
                                    <circle fill="#bee9e8" cx="5" cy="5" r="1" />
                                </pattern>
                            </defs>
                            <rect x="0" y="0" width="100%" height="100%" fill="url(#polka-dots)" />
                        </svg>
                    </div>
                    <p class="numDroit">05</p>
                    <div class="cercleDroit"></div>
                    <h1 class="titre sousTitle">Productions</h1>
                    <p class="sousTitre">Integration et Developpement</p>
                    <p class="livrables"><span></span>Livrables</p>
                    <p class="cadrage">Note de cadrage</p>
                </div>
            </div>
            <div class="ligne">
                <div class="gauche">
                    <div class="point">
                        <svg width="100%" height="100%">
                            <defs>
                                <pattern id="polka-dots" x="0" y="0" width="10" height="10"
                                    patternUnits="userSpaceOnUse">
                                    <circle fill="#bee9e8" cx="5" cy="5" r="1" />
                                </pattern>
                            </defs>
                            <rect x="0" y="0" width="100%" height="100%" fill="url(#polka-dots)" />
                        </svg>
                    </div>
                    <p class="numGauche">06</p>
                    <div class="cercleGauche"></div>
                    <h1 class="titre sousTitle">Phase de tests</h1>
                    <p class="sousTitre">Tests parcours client</p>
                    <p class="livrables"><span></span>Livrables</p>
                    <p class="cadrage">Note de cadrage</p>
                </div>
                <div class="droite"> </div>
            </div>
            <div class="ligne">
                <div class="gauche"> </div>
                <div class="droite">
                    <div class="point">
                        <svg width="100%" height="100%">
                            <defs>
                                <pattern id="polka-dots" x="0" y="0" width="10" height="10"
                                    patternUnits="userSpaceOnUse">
                                    <circle fill="#bee9e8" cx="5" cy="5" r="1" />
                                </pattern>
                            </defs>
                            <rect x="0" y="0" width="100%" height="100%" fill="url(#polka-dots)" />
                        </svg>
                    </div>
                    <p class="numDroit">07</p>
                    <div class="cercleDroit"></div>
                    <h1 class="titre sousTitle">Mise en ligne</h1>
                    <p class="sousTitre">Mise en ligne</p>
                    <p class="livrables"><span></span>Livrables</p>
                    <p class="cadrage">Note de cadrage</p>
                </div>
            </div>
            <div class="ligne">
                <div class="gauche" id="maintenance">
                    <div class="point">
                        <svg width="100%" height="100%">
                            <defs>
                                <pattern id="polka-dots" x="0" y="0" width="10" height="10"
                                    patternUnits="userSpaceOnUse">
                                    <circle fill="#bee9e8" cx="5" cy="5" r="1" />
                                </pattern>
                            </defs>
                            <rect x="0" y="0" width="100%" height="100%" fill="url(#polka-dots)" />
                        </svg>
                    </div>
                    <p class="numGauche">08</p>
                    <div class="cercleGauche"></div>
                    <h1 class="titre sousTitle">Maintenance & SEO</h1>
                    <p class="sousTitre">Maintenance Correction des bugs Optimisation des contenus, SEO</p>
                    <p class="livrables"><span></span>Livrables</p>
                    <p class="cadrage">Note de cadrage</p>
                </div>
                <div class="droite"> </div>
            </div>
            <div class="ligne ">
                <div class="gauche"> </div>
                <div class="droite">
                    <div class="point">
                        <svg width="100%" height="100%">
                            <defs>
                                <pattern id="polka-dots" x="0" y="0" width="10" height="10"
                                    patternUnits="userSpaceOnUse">
                                    <circle fill="#bee9e8" cx="5" cy="5" r="1" />
                                </pattern>
                            </defs>
                            <rect x="0" y="0" width="100%" height="100%" fill="url(#polka-dots)" />
                        </svg>
                    </div>
                    <p class="numDroit">09</p>
                    <div class="cercleDroit"></div>
                    <h1 class="titre sousTitle">Evolution</h1>
                    <p class="sousTitre">Propositions de nouvelles fonctionnalites Passage en V2</p>
                    <p class="livrables"><span></span>Livrables</p>
                    <p class="cadrage">Note de cadrage</p>
                </div>
            </div>
        </div>
        <div style="height: 150px;"></div>
    </div>
</section>