<section class="listPage">
    <section class="parallax">
        <app-parallax-template class="template"></app-parallax-template>
    </section>
    <div appParallax [ratio]="-1" class="menu">
        <div class="contenuMenu">
            <p class="texPrec" routerLink="/home">home<span class="prec">></span></p>
            <p><strong class="enCours">O2.</strong> nos services</p>
        </div>
    </div>
    <section class="titre">
        <div class="container" style="margin: auto;">
            <div class="titleContent">
                <div class="right">
                    <ng-lottie [options]="options" (animationCreated)="animationCreated($event)">
                    </ng-lottie>
                </div>
                <div class="left">
                    <h1 class="title animate__animated animate__fadeInDown">réalisations</h1>
                    <p class="animate__animated animate__fadeIn animate__delay-1s">Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Explicabo deserunt repellendus dolore ea
                        voluptatem enim harum iure omnis veritatis fugiat!</p>
                </div>
                <div class="bottomTitle">
                    <p>explore the flow</p>
                    <span style="color: white;font: 800;margin-left: 20px;" data-aos="fade-up"
                        data-aos-duration="1500">&darr;</span>
                </div>
                </div>
        </div>
    </section>
    <section class="contenu">
        <div class="container">
            <app-best-portfolios class="folio" (mouseenter)="best(projet, i)" (mouseleave)="bestLeave(projet, i)"
                [projet]="projet" *ngFor="let projet of this.portfolioService.projetsList | async; let i = index">
            </app-best-portfolios>
        </div>
    </section>
</section>