<nav>
    <div class="titre" >
        <ng-lottie [options]="options" (animationCreated)="animationCreated($event)" class="icon" (click)='navigation("home")' 
            (complete)="complete($event)" (mouseenter)="debut()" (mouseleave)="fin()">
        </ng-lottie>
    </div>
    <div class="menu">
        <div class="menu-btn" (click)="menuZone()">
            <!-- <div class="menu-btn__burger"></div> -->
            <ng-lottie [options]="optionsMenu2" (animationCreated)="animationCreatedBurger($event)" class="icon" (click)="burger()">
        </ng-lottie>

        </div>
    </div>
</nav>
<div [@fade]="pages.length" class="menuOpen" *ngIf="!affiche">
    <div class="page" *ngFor="let page of pages ;let i=index" (mouseenter)="icon(page)" (mouseleave)="finMenu(page)"
        (click)="navigation(page.nom)">
        <ng-lottie [options]="optionsMenu" id="{{page.nom}}" class="menuIcon"
            (animationCreated)="animationCreatedMenu($event)">
        </ng-lottie>
        <p>{{page.nom}}</p>
    </div>
</div>

<!-- <section *ngIf="affiche">
    <router-outlet id="site"  (activate)="onActivate($event)">
    </router-outlet>
</section> -->