
*{
    padding:0px;
    box-sizing: border-box;
    margin: 0;
}

nav{
    // margin-bottom: -48px;
    // position: absolute;
    z-index: 110;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    position: fixed;
    top: 0;
}

.title{
    color: white;
}

.titre{
    display: flex;
    align-items: center;

    .icon{
        height: 50px;
        width: 184px;
        cursor: pointer;
    }
}

.menuIcon{
  height: 150px;
  width: 184px;
  cursor: pointer;
}

#realisations{
  display: none;
}
#solutions{
  display: none;
}
#workflow{
  display: none;
}
#blog{
  display: none;
}

.menuOpen{
    width: 100%;
    height: 100vh;
    z-index: 100;
    background: #09090AE0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden; 
    position: absolute;
}

.page{
    flex: 1;
    height: 100%;
    border-right: 1px solid #5C647E;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;

    &:hover{
        box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, 0.4);
    }
    &:hover::before{
        box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, 0.4); 
    }
}


#site{
    z-index: 1;
    background-color: #0E0E34;

}

body{
    background: #0E0E34;
}

//burger
.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    /* border: 3px solid #fff; */
  }
  // .menu-btn__burger {
  //   width: 35px;
  //   height: 3px;
  //   background: #fff;
  //   border-radius: 5px;
  //   box-shadow: 0 2px 5px rgba(255,101,47,.2);
  //   transition: all .5s ease-in-out;
  // }
  // .menu-btn__burger::before,
  // .menu-btn__burger::after {
  //   content: '';
  //   position: absolute;
  //   width: 35px;
  //   height: 3px;
  //   background: #fff;
  //   border-radius: 5px;
  //   box-shadow: 0 2px 5px rgba(255,101,47,.2);
  //   transition: all .5s ease-in-out;
  // }
  // .menu-btn__burger::before {
  //   transform: translateY(-16px);
  // }
  // .menu-btn__burger::after {
  //   transform: translateY(16px);
  // }
  // /* ANIMATION */
  // .menu-btn.open .menu-btn__burger {
  //   transform: translateX(-50px);
  //   background: transparent;
  //   box-shadow: none;
  // }
  // .menu-btn.open .menu-btn__burger::before {
  //   transform: rotate(45deg) translate(35px, -35px);
  // }
  // .menu-btn.open .menu-btn__burger::after {
  //   transform: rotate(-45deg) translate(35px, 35px);
  // }

