<nav #menuAction>
    <div class="titre" #pcAnimation>
        <ng-lottie #pcAnimation [options]="options" (animationCreated)="animationCreated($event)" class="icon"
            (click)='navigation("home")' (complete)="complete($event)" (mouseenter)="debut()" (mouseleave)="fin()">
        </ng-lottie>
    </div>
    <div class="titre" #phoneIcon>
        <div class="icon" (click)='navigation("home")'
            style="background-image: url(../../assets/images/blprtIcon.svg);background-repeat: no-repeat;">
        </div>
    </div>
    <div class="menu">
        <div class="menu-btn" (click)="menuZone()">
            <ng-lottie [options]="optionsMenu2" (animationCreated)="animationCreatedBurger($event)" class="icon"
                (click)="burger()">
            </ng-lottie>

        </div>
    </div>
</nav>
<div [@fade]="pages.length" class="menuOpen" *ngIf="!affiche">
    <div class="page" *ngFor="let page of pages ;let i=index" (mouseenter)="icon(page)" (mouseleave)="finMenu(page)"
        (click)="navigation(page.nom)">
        <ng-lottie [options]="optionsMenu" id="{{page.nom}}" class="menuIcon"
            (animationCreated)="animationCreatedMenu($event)">
        </ng-lottie>
        <p>{{page.nom}}</p>
    </div>
</div>