<div class="container" data-aos="fade-right" data-aos-duration="1500">
	<app-get-in-touch>
		<cdk-step [@fadeIn]>
			<form [formGroup]="firstform">
				<mat-form-field appearance="legacy">
					<mat-label>Secteur d'activité</mat-label>
					<input matInput formControlName="secteur" placeholder="Entrez un secteur" required>
				</mat-form-field>
				<mat-form-field>
					<mat-label>Nom de la société</mat-label>
					<input matInput formControlName="nom" placeholder="Entrez votre nom" required>
				</mat-form-field>
				<mat-form-field>
					<mat-label>Adresse email</mat-label>
					<input matInput formControlName="mail" placeholder="Entrez mail" required>
				</mat-form-field>
				<mat-form-field>
					<mat-label>Site Internet</mat-label>
					<input matInput formControlName="siteInternet" placeholder="Entrez un secteur">
				</mat-form-field>
			</form>
		</cdk-step>
		<cdk-step [@fadeIn]>
			<form [formGroup]="secondform" class="secondForm">
				<mat-form-field class="example-chip-list">
					<mat-label>features</mat-label>
					<mat-chip-list #chipList aria-label="Features selection">
						<mat-chip *ngFor="let feature of features" [selectable]="selectable" [removable]="removable"
							(removed)="remove(feature)">
							{{feature}}
							<svg matChipRemove xmlns="http://www.w3.org/2000/svg" *ngIf="removable" viewBox="0 0 24 24"
								fill="black" width="18px" height="18px">
								<path d="M0 0h24v24H0z" fill="none" />
								<path
									d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
							</svg>
						</mat-chip>
						<input placeholder="Nouvelle feature..." #fruitInput [formControl]="featuresCtrl"
							[matAutocomplete]="auto" [matChipInputFor]="chipList"
							[matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)"
							formControlName="features" class="formChips">
					</mat-chip-list>
					<mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
						<mat-option *ngFor="let feature of filteredFeatures | async" [value]="feature">
							{{feature}}
						</mat-option>
					</mat-autocomplete>
				</mat-form-field>
			</form>
		</cdk-step>
		<cdk-step [@fadeIn] style="position: relative;">
			<form [formGroup]="thirdform">
				<mat-form-field appearance="fill">
					<mat-label style="color: white;">Date Limite</mat-label>
					<input matInput [matDatepicker]="picker" formControlName="date" style="color: white;">
					<mat-datepicker-toggle matSuffix [for]="picker">
					</mat-datepicker-toggle>
					<mat-datepicker #picker></mat-datepicker>
				</mat-form-field>
				<mat-form-field>
					<mat-label>Budget</mat-label>
					<input matInput formControlName="budget" placeholder="Budget">
				</mat-form-field>
			</form>
			<div class="bt " (click)="submitForm()">
				<p class="boutonContenu">
					Envoyer
					<span style="color: white;font: 800;">&rarr;</span>
				</p>
				<div class="progress">
					<div class="bar"></div>
				</div>
			</div>
		</cdk-step>
	</app-get-in-touch>
</div>