<section class="contenuProjet" *ngIf="pages" >
    <section class="parallax" *ngIf="pages" [ngStyle]="{'background-color': pages.couleurProjet}">
        <div class="container">
            <div class="lignes">
                <div class="dotG" style="margin-top:2000px" appParallax [ratio]="0.6"></div>
                <div class="dot" style="margin-top:20px" appParallax [ratio]="-1.4"></div>
            </div>
            <div class="lignes">
                <div class="dot" style="margin-top:1400px" appParallax [ratio]="0.4"></div>
            </div>
            <div class="lignes">
                <div class="dot" style="margin-top: 1200px" appParallax [ratio]="0.5"></div>
                <div class="dot" style="margin-top: 2500px" appParallax [ratio]="0.5"></div>
            </div>
            <div class="lignes">
                <div class="dot" style="margin-top: 700px" appParallax [ratio]="-1.3"></div>
            </div>
        </div>
    </section>    
    <div appParallax [ratio]="-1" class="menu ">
        <p class="texPrec" routerLink="/home">home<span class="prec">></span></p>
        <p routerLink="/listProjet"><strong style="margin-left: 20px; cursor: pointer;">O2. nos
                réalisation</strong><span class="prec">></span></p>
        <p class="enCours">{{pages.titre}}</p>
    </div>

    <!-- Bannière -->
    <section class="banniere">

        <div class="animate__animated animate__fadeInUp titre" *ngIf="pages">
            <h1 class="title" id="titreos">{{pages.titre}}</h1>
        </div>
        <div class="animate__animated animate__fadeInUp infos" *ngIf="pages">
            <div class="poids">
                <h1 style="color: #4465D5;font-weight: 700;display: flex;">{{pages.taille}}<span
                        style="display: flex;align-items: flex-start;font-size: 20px;margin-left: 6px;">MB</span></h1>
            </div>
            <img style="width: 1px;" src="../assets/images/verticalSep (1).svg" alt="">
            <div class="atouts">
                <p>atout principal</p>
                <p style="color: white;">{{pages.domaine}}</p>
            </div>
            <img style="width: 1px;" src="../assets/images/verticalSep (1).svg" alt="">
            <div class="role">
                <p>rôle joué</p>
                <p style="color: white;">{{pages.role}}</p>
            </div>
            <img style="width: 1px;" src="../assets/images/verticalSep (1).svg" alt="">
            <div class="icones">
                <img src="../assets/images/icon_website.svg" alt="">
                <img src="../assets/images/gestionIcon.svg" alt="">
                <img src="../assets/images/searchReference(1).svg" alt="">

            </div>
        </div>
        <div class="animate__animated animate__fadeInUp animate__delay-1s explore">
            <p style="  color: white;margin-bottom: 30px;">explorer</p>
            <ng-lottie class="lottie" [options]="options" (animationCreated)="animationCreated($event)">
            </ng-lottie>
        </div>
    </section>
    <!-- Contenu -->
    <section class="contenuRow" *ngIf="pages" 
        style="padding-top: 10px;padding-bottom: 50px;">
        <app-row-project-content *ngFor="let row of pages.rows" [rows]="row"></app-row-project-content>
    </section>
    <!--Bas de Page : Projet suivant-->
    <section class="banniere suivante" *ngIf="projetSuivant|async"
         (click)="OnviewPage(projetSuivant)">
            <div class="textTitle">Projet Suivant</div>
            <div class="titre" *ngIf="this.portfolioService.projetSuivante">
                <h1 class="title">{{ ( projetSuivant|async)?.titre}}</h1>
            </div>
            <div class="infos" *ngIf="this.portfolioService.projetSuivante">
                <div class="poids">
                    <h1 style="color: #4465D5;font-weight: 700;display: flex;">
                        {{( projetSuivant|async)?.taille}}<span>MB</span>
                    </h1>
                </div>
                <img style="width: 1px;" src="../assets/images/verticalSep (1).svg" alt="">
                <div class="atouts">
                    <p>atout principal</p>
                    <p style="color: white;">{{( projetSuivant|async)?.domaine}}</p>
                </div>
                <img style="width: 1px;" src="../assets/images/verticalSep (1).svg" alt="">
                <div class="role">
                    <p>rôle joué</p>
                    <p style="color: white;">{{( projetSuivant|async)?.role}}</p>
                </div>
                <img style="width: 1px;" src="../assets/images/verticalSep (1).svg" alt="">
                <div class="icones">
                    <img src="../assets/images/icon_website.svg" alt="">
                    <img src="../assets/images/gestionIcon.svg" alt="">
                    <img src="../assets/images/searchReference(1).svg" alt="">
                </div>
            </div>
            <div class="explore">
                <p>Cliquez pour voir le projet</p>
                <ng-lottie class="lottie" [options]="options" (animationCreated)="animationCreated($event)"
                    *ngIf="projetSuivant|async">
                </ng-lottie>
            </div>
    </section>
</section>