*{
  margin: 0;
}  
.contenuProjet{
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}

section.parallax{
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 1;
}

.template{
  width: 100%;
}

.lignes{
  flex: 1;
  border-right: 1px solid  rgba(243, 238, 238, 0.24);
  position: relative;
  height: 50000px;
}

section.parallax .container{
  display: flex;
}

section.parallax .container:first-child{
  border-left: 1px solid  rgba(243, 238, 238, 0.24);
}



.dot{
  position: absolute;
  right: 0px;
  height: 30px;
  width: 4px;
  background: blue;
  border-radius: 2px;
}

.dotG{
  position: absolute;
  left: 0px;
  height: 30px;
  width: 4px;
  background: blue;
  border-radius: 2px;
}




section.contenuProjet .menu{
  position: absolute;
  margin-top: 250px;
  text-align: center;
  transform: rotate(270deg);
  // left: -144px;
  // margin-left: -170px;
  margin-left: -84px;
  align-self: start;
  display: flex;
  justify-content: space-between;
  color: white;
  z-index: 20;
}

.menu .enCours{
    color: blue;
    margin-left: 20px;

}

.menu .prec{
    margin-left: 20px;
    cursor: pointer;
}
.menu .texPrec{
    cursor: pointer;
}


body{
    background-color: red;
}
.banniere{
    z-index: 10;
    position: relative;
    display:flex;
    height: 100vh;
    background-position: auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #EDEFF5;
    padding-top: 10px;
}

.sep{
  width: 1px;
}

// .suivant {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   z-index: 10;
//   position: relative;
// }



.titre{
  display: flex;
  justify-content: center;
  width: 40%;
  margin-bottom: 20px;
}

.texTitle{
  margin-bottom: 50px;
  width: 37%;
  text-align: center;
}

.icones{
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin-left : 20px;
}

.category{
  display: flex;
  width: 40%;
  justify-content: center;
}

.lottie{
  width: 23px;
}

.infos{
  display: flex;
  // max-width: 630px;
  // width: 100%;
  justify-content: space-between;
}

.atouts{
  margin: 0px 21px 0px 22px;
  text-align: center;
}

.poids{
  margin: 0px 15px 0px 5px;
  h1{
    color: #4465D5;
    font-weight: 700;
    display: flex;
  }
}

.role{
  margin: 0px 20px 0px 21px;
  text-align: center;

}

.contenuRow{
  position: relative;
  z-index: 5;
}

.suivante{
  cursor: pointer;
  &:hover{
    .textTitle{
      transform: translateY(-20px);
    }
    .explore{
      transform: translateY(20px);
      opacity: 1;
    }
  }
}

.explore{
  display: flex;
  opacity: 0;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-top: 200px;
  transition: 0.3s ease-in-out;
}


@media screen and (max-width: 560px) { 

  .banniere{
    padding: 0 16px;
  }

  .titre{
    width: 100%;
  }

  .icones {
    display: none;
  }

  .sep{
    display: none;
  }

  .poids, .atouts, .role{
    margin: 0;
    flex:1;
  }

  .poids{
    display: flex;
    align-items: center;
    h1{
      font-size: 30px !important;
    }
  }

  .role{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  div.menu{
    display: none !important;
  }

}
