.bt {
  width: 70%;
  cursor: pointer;
  // margin-left: 40px;
  position: absolute;
  bottom: 17px;
}

.progress {
  height: 2px;
  width: 100%;
  background: #1d44b1;
}

.progress .bar {
  height: 2px;
  width: 10%;
  background: #eb5a50;
}

.bt:hover {
  .progress .bar {
    transition: 0.2s ease;
    width: 200px;
  }
}

.carousel {
  display: flex;
  width: 100%;
  height: 500px;
}

.panneau {
  height: 100px;
  z-index: 3;
  width: 100%;
  display: flex;
  color: white;
  flex-wrap: nowrap;
  justify-content: space-around;
  cursor: pointer;
  .icon {
    cursor: pointer;
    min-width: 69px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    opacity: 0.4;
  }

  .icon p {
    margin-top: 10px;
  }
}

.slider {
  flex: 2;
  height: 100%;
  overflow: hidden;
  display: flex;
  // border-bottom: 20px solid #1D44B1;
}

.slide {
  width: 100%;
  height: 300px;
  background: #2b50b5;
  align-self: flex-end;
  padding-left: 20px;
  display: flex;
}

.slideSvg {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.patterns {
  width: 204px;
  height: 80px;
  opacity: 0.4;
}

.point {
  position: absolute;
  width: 194px;
  height: 123px;
  top: -20px;
  right: 0;
  z-index: 0;
  opacity: 0.4;
}

.btnSlide {
  cursor: pointer;
}

.photo {
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: center;
  z-index: 100;
  background-repeat: no-repeat;
}

.image {
  flex: 2;
  background: white;
  margin-top: -100px;
  overflow: hidden;
  box-sizing: border-box;
  border: 10px solid white;
  position: relative;
  bottom: 20px;
}

.text {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.textInner {
  padding-top: 20px;
  width: 100%;
  position: absolute;

  .innerCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex: 1;
    opacity: 0.5;
  }

  .description {
    color: rgba(255, 255, 255, 0.507);
  }

  .trait {
    height: 2px;
    background: #eb5a50;
    width: 20px;
  }

  .projetName {
    font-weight: 700;
    color: rgba(255, 255, 255, 0.507);
    font-size: 20px;
  }

  .numberTitle {
    color: white;
  }
}

.description {
  color: white;
}

.trait {
  height: 2px;
  background: #343a40;
  width: 20px;
  margin-bottom: 5px;
}

.projetName {
  font-weight: 700;
  color: white;
  margin-bottom: 5px;
  font-size: 20px;
}

.textInnerDroit {
  position: absolute;
}

.Inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.textInnerDroit h1 {
  font-size: 92px;
  font-weight: 700;
  color: white;
}

.centerContent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: center;
}

.init {
  align-self: flex-end;
}

.init h1 {
  font-size: 92px;
  font-weight: 700;
  color: white;
}

.gauche,
.droite {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;
  overflow: hidden;
  height: 300px;
  align-self: flex-end;
  justify-content: space-between;
  padding-top: 20px;
}

.textBoutton {
  width: 100%;
  justify-content: center;
  position: relative;
  display: flex;
}

.textuelle {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media screen and (max-width: 560px) {
  .image {
    flex: 1.5;
  }

  .bt {
    bottom: 7px;
  }
  .slide {
    display: flex;
    flex-direction: column;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .textInnerDroit {
    p {
      font-size: 0.7em;
    }
  }

  .textInner {
    padding-top: 20px;
    .innerCenter {
      flex-direction: row;
      justify-content: space-around;
      display: flex;
      .centerContent {
        flex-direction: row;
        justify-content: space-around;
      }
    }
    p {
      font-size: 0.7em;
    }
  }

  .init h1 {
    font-size: 47px;
  }

  .patterns {
    display: none;
  }

  .slideSvg {
    justify-content: center;
  }

  .icon p {
    font-size: 0.7em;
  }

  .numberTitle {
    font-size: 67px !important;
  }

  .btnSlide {
    height: 60px;
  }
}
