<div class="panneau">
    <div class="icon" *ngFor="let icon of iconsTab; let i=index" (click)="changeSlide(i)">
        <img [src]="icon.url" alt="">
        <p>{{icon.name}}</p>
    </div>
</div>
<div class="carousel">
    <div class="gauche">
        <div class="textBoutton">
            <div class="point">
                <svg width="100%" height="100%">
                    <defs>
                        <pattern id="polka-dots" x="0" y="0" width="10" height="10" patternUnits="userSpaceOnUse">
                            <circle fill="#bee9e8" cx="5" cy="5" r="1" />
                        </pattern>
                    </defs>
                    <rect x="0" y="0" width="100%" height="100%" fill="url(#polka-dots)" />
                </svg>
            </div>
            <div *ngFor="let item of slidesItemGauche; let i=index" class="textInnerDroit">
                <div [@fadeBoutton]='state2' class="Inner" *ngIf="slides == item.id">
                    <h1 class="numberTitle">{{item.initial}}</h1>
                    <p class="projetName"><strong>{{item.nom}}</strong></p>
                    <div class="trait"></div>
                    <p class="description">{{item.description}}</p>
                </div>
            </div>
        </div>
        <div class="slideSvg">
            <img class="btnSlide" id="gauche" src="../assets/images/leftArrow.svg" (click)="gauche()" alt="">
            <div class="patterns">
                <svg width="100%" height="100%">
                    <defs>
                        <pattern id="polka-dots" x="0" y="0" width="10" height="10" patternUnits="userSpaceOnUse">
                            <circle fill="#bee9e8" cx="5" cy="5" r="1" />
                        </pattern>
                    </defs>
                    <rect x="0" y="0" width="100%" height="100%" fill="url(#polka-dots)" />
                </svg>
            </div>
        </div>
    </div>
    <div class="slider">
        <div class="slide">
            <div class="image">
                <div [@fade]='state' class="photo" *ngIf='slides==1'
                    [ngStyle]="{'background-image': 'url(' + photo[0] + ')'}"></div>
                <div [@fade]='state' class="photo" *ngIf='slides==2'
                    [ngStyle]="{'background-image': 'url(' + photo[1] + ')'}"></div>
                <div [@fade]='state' class="photo" *ngIf='slides==3'
                    [ngStyle]="{'background-image': 'url(' + photo[2] + ')'}"></div>
            </div>
            <div class="text">
                <div class="textBoutton">
                    <div *ngFor="let item of slidesItemcentre; let i=index" class="textInner">
                        <div [@fadeBoutton]='state' class="innerCenter" *ngIf="slides == item.id">
                            <div class="centerContent">
                                <div class="init">
                                    <h1 class="numberTitle">{{item.initial}}</h1>
                                </div>
                                <div class="textuelle">
                                    <p class="projetName"><strong>{{item.nom}}</strong></p>
                                    <div class="trait"></div>
                                    <p class="description">{{item.description}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bt">
                    <p style="display: flex;justify-content: space-between;color: white;margin-bottom: 7px;">explorer
                        <span style="color: white;font: 800;">&rarr;</span>
                    </p>
                    <div class="progress">
                        <div class="bar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="droite">
        <div class="textBoutton">
            <div class="point">
                <svg width="100%" height="100%">
                    <defs>
                        <pattern id="polka-dots" x="0" y="0" width="10" height="10" patternUnits="userSpaceOnUse">
                            <circle fill="#bee9e8" cx="5" cy="5" r="1" />
                        </pattern>
                    </defs>
                    <rect x="0" y="0" width="100%" height="100%" fill="url(#polka-dots)" />
                </svg>
            </div>
            <div *ngFor="let item of slidesItemDroit; let i=index" class="textInnerDroit">
                <div [@fadeBoutton]='state2' class="Inner" *ngIf="slides == item.id">
                    <h1 class="numberTitle">{{item.initial}}</h1>
                    <p class="projetName"><strong>{{item.nom}}</strong></p>
                    <div class="trait"></div>
                    <p class="description">{{item.description}}</p>
                </div>
            </div>
        </div>
        <div class="slideSvg">
            <div class="patterns">
                <svg width="100%" height="100%">
                    <defs>
                        <pattern id="polka-dots" x="0" y="0" width="10" height="10" patternUnits="userSpaceOnUse">
                            <circle fill="#bee9e8" cx="5" cy="5" r="1" />
                        </pattern>
                    </defs>
                    <rect x="0" y="0" width="100%" height="100%" fill="url(#polka-dots)" />
                </svg>
            </div>
            <img class="btnSlide" src="../assets/images/rightArrow.svg" (click)="droite()" alt="">
        </div>
    </div>
</div>